<div class="container">
    <form id="idForm" [formGroup]="formsActualiza">
        <div  class="mat-dialog-content">

            <div class="row">
                    <mat-toolbar id="cabecera" >    
                    <span style="color: white;">Actualiza Sala</span>    
                    </mat-toolbar>  
            </div>

            <div class="row" style="margin-top: 3%">
                <mat-form-field class="col-md-4">
                    <mat-label>Número</mat-label>
                    <input  matInput [(ngModel)] ="ObjSala.numero" formControlName="validaNumero">
                    <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaNumero.touched">
                        <span *ngIf="formsActualiza.controls.validaNumero.hasError('required')">
                            El Número de sala es requerido
                        </span>
                        <span *ngIf="formsActualiza.controls.validaNumero.hasError('pattern')">
                            El Número esta compuesto por una letra mayúscula y 3 dígitos
                        </span>
                    </mat-hint>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                    <mat-label>Piso</mat-label>
                    <input  matInput [(ngModel)] ="ObjSala.piso" formControlName="validaPiso">
                    <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaNumero.touched">
                        <span *ngIf="formsActualiza.controls.validaPiso.hasError('required')">
                            El Piso es requerido
                        </span>
                        <span *ngIf="formsActualiza.controls.validaPiso.hasError('pattern')">El Piso NO debe ser 0
                            <br>
                            El Piso es de 1 a 2 dígitos
                        </span>
                    </mat-hint>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                    <mat-label>Nro de alumnos</mat-label>
                    <input  matInput [(ngModel)] ="ObjSala.numAlumnos" formControlName="validaNumAlum">
                    <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaNumAlum.touched">
                        <span *ngIf="formsActualiza.controls.validaNumAlum.hasError('required')">
                            El Número de alumnos es requerido
                        </span>
                        <span *ngIf="formsActualiza.controls.validaNumAlum.hasError('pattern')">
                            No debe ser 0 
                            <br>
                            Ingresar 2 dígitos max.
                        </span>
                    </mat-hint>
                </mat-form-field>          
        </div>
        <div class="row" style="margin-top: 3%">
                <mat-form-field class="col-md-4">
                        <mat-label>Recursos</mat-label>
                        <input  matInput [(ngModel)] ="ObjSala.recursos" formControlName="validaRecursos">
                        <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaRecursos.touched">
                            <span *ngIf="formsActualiza.controls.validaRecursos.hasError('required')">
                                Los recursos son requeridos
                            </span>
                            <span *ngIf="formsActualiza.controls.validaRecursos.hasError('pattern')">
                                Los recursos tienen de 3 a 30 caracteres
                            </span>
                        </mat-hint>
                </mat-form-field>  
                <mat-form-field class="col-md-4">
                        <mat-label>Tipo de Sala</mat-label>
                        <mat-select [(ngModel)]="ObjSala.tipoSala!.idDataCatalogo" formControlName="validaTipoSala">
                            <mat-option value="-1"> [Seleccione] </mat-option>
                            <mat-option  *ngFor="let x of lstTipoSala" [value]="x.idDataCatalogo">
                                {{x.descripcion}}
                            </mat-option>   
                        </mat-select>
                        <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaTipoSala.touched">
                            <span *ngIf="formsActualiza.controls.validaTipoSala.hasError('min')">
                                El Tipo de Sala es requerido
                            </span>
                        </mat-hint> 
                </mat-form-field>
                <mat-form-field class="col-md-4">
                        <mat-label>Sede</mat-label>
                        <mat-select [(ngModel)]="ObjSala.sede!.idDataCatalogo" formControlName="validaSede">
                            <mat-option value="-1"> [Seleccione] </mat-option>
                            <mat-option  *ngFor="let x of lstSede" [value]="x.idDataCatalogo">
                                {{x.descripcion}}
                            </mat-option>   
                        </mat-select> 
                        <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaSede.touched">
                            <span *ngIf="formsActualiza.controls.validaSede.hasError('min')">
                                La Sede es requerida
                            </span>
                        </mat-hint>
                </mat-form-field> 
        </div>
        <div class="row" style="margin-top: 3%">
                <mat-form-field class="col-md-4">
                        <mat-label>Estado de Reserva</mat-label>
                        <mat-select [(ngModel)]="ObjSala.estadoReserva!.idDataCatalogo" formControlName="validaEstadoReserva">
                            <mat-option value="-1"> [Seleccione] </mat-option>
                            <mat-option  *ngFor="let x of lstEstadoReserva" [value]="x.idDataCatalogo">
                                {{x.descripcion}}
                            </mat-option>   
                        </mat-select>
                        <mat-hint style="color: red" *ngIf="formsActualiza.controls.validaEstadoReserva.touched">
                            <span *ngIf="formsActualiza.controls.validaEstadoReserva.hasError('min')">
                                El Estado de Reserva es requerido
                            </span>
                        </mat-hint> 
                </mat-form-field> 
            </div>

            <div  mat-dialog-actions>
                <button mat-raised-button type="submit" (click)="actualizar()" id="btnAct" [mat-dialog-close]="1" [disabled]="formsActualiza.invalid">Actualizar</button>

                <button mat-button color="primary" [mat-dialog-close]="true">Salir</button>
            </div>
        </div>
    </form>
</div>